# Banco de dados
DB_HOST=db
DB_PORT=3306
DB_NAME=elo_academico
DB_USER=elo_user
DB_PASSWORD=elo_password

# JWT
JWT_SECRET=troque_por_um_segredo_forte_em_producao
JWT_EXPIRES_IN=8h

# Aplicação
PORT=3000
NODE_ENV=development
